In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
import json

In [24]:
# Load data, aggregates, and centroids

from data_utils import loadR199, loadAggregates
df, dfnorm = loadR199()
r_quant, t_quant, t_qual = loadAggregates()

centroids = pd.read_csv("data/BirchClusters.csv",index_col="Cluster")
cluster_arr = json.load(open("data/Birch_cluster_numbers.json"))
cluster_arr = np.array(cluster_arr)

In [18]:
from data_utils import groupByQuartile, count_quartiles

df_closest_quartiles = groupByQuartile(dfnorm, centroids, out_file="data/closest_quartiles.csv")

count_t_qual = count_quartiles(df_closest_quartiles, t_qual)
count_t_quant = count_quartiles(df_closest_quartiles, t_quant)
count_r_quant = count_quartiles(df_closest_quartiles, r_quant)

In [25]:
print("Number of Occurences per Cluster")
for i in range(max(cluster_arr)):
    print(i, ":", len(dfnorm[cluster_arr==i]))

Number of Occurences per Cluster
0 : 307
1 : 59
2 : 210
3 : 2
4 : 110

In [11]:
print("Teaching Quality")
count_t_qual

Teaching Quality

     Q0    Q1    Q2    Q3    Q4
0   0.0   0.0  24.0  20.0   0.0
1   0.0   3.0  16.0  25.0   0.0
2   0.0   2.0  38.0   4.0   0.0
3   1.0  14.0  10.0   7.0  12.0
4  40.0   0.0   1.0   3.0   0.0
5   0.0   9.0  17.0  17.0   1.0

In [12]:
print("Teaching Quantity")
count_t_quant

Teaching Quantity

     Q0   Q1    Q2    Q3   Q4
0   0.0  0.0   6.0  17.0  0.0
1   6.0  0.0   6.0  11.0  0.0
2   6.0  0.0  14.0   3.0  0.0
3  14.0  0.0   3.0   6.0  0.0
4  10.0  2.0   6.0   5.0  0.0
5   2.0  0.0   8.0  12.0  1.0

In [13]:
print("Research Quantity")
count_r_quant

Research Quantity

    Q0   Q1   Q2   Q3  Q4
0  0.0  0.0  1.0  7.0   0
1  1.0  5.0  2.0  0.0   0
2  0.0  0.0  8.0  0.0   0
3  6.0  2.0  0.0  0.0   0
4  0.0  0.0  5.0  3.0   0
5  0.0  0.0  0.0  8.0   0

In [ ]:
# Description for 4 clusters (BIRCH)

# Cluster 0, high researching quantity, high teaching quantity, avg teaching quality
# Cluster 1, high researching quantity, low teaching quantity, very low teaching quality
# Cluster 2, very high reseaching quantity, avg teaching quantity, above average teaching quality
# Cluster 3, low research quantity, Not a lot of teaching quantity, even teaching quality

# Cluster 0 is professors who teach and research a lot but sacrifice overall teaching quality                   Count: 576
# Cluster 1 is profs who mainly focus on research, not much teaching nor quality                                Count: 110
# Cluster 2 is profs who emphasize research volume but also maintains quality in teaching                       Count: 50
# Cluster 3 is profs who don't research a lot nor teach a lot, but still teach well in the classes they teach   Count: 2